<div data-lift="surround?with=default;at=content">

    <h1>Ajouter une nouvelle tâche</h1>

    <form data-lift="form.ajax">
        <div data-lift="TaskSnippetDynamique.newTask" class="input-append">
            <input class="span2" type="text" name="nom">
            <input class="btn btn-primary" type="submit" value="Créer"/>
        </div>
    </form>

    <hr />

    <h1>Tâches</h1>
    <ul id="taskList" data-lift="TaskSnippetDynamique.showTaskList"></ul>

</div>