<div data-lift="surround?with=default;at=content">

    <h1>Ajouter une nouvelle tâche</h1>

    <form data-lift="TaskSnippetFormulaire.newTask?form=post">
        <div class="input-append">
            <input class="span2" type="text" name="nom">
            <input class="btn btn-primary" type="submit" value="Créer"/>
        </div>
    </form>

    <h1>Tâches</h1>

    <ul data-lift="TaskSnippetFormulaire.showTaskList">
        <li>
            <form data-lift="TaskSnippetFormulaire.deleteTask?form=post">
                <input class="btn btn-danger btn-large" type="submit" value="Delete">
                <span class="tache">tâche</span>
                <input type="hidden" name="taskId" value="0">
            </form>
        </li>
    </ul>

</div>