<li>
    <form class="lift:form.ajax">
        <input class="btn btn-danger" type="submit" value="Retirer">
        <span class="tache">tâche</span>
        <input type="hidden" name="taskId" value="0">
        <div id="delete"></div>
    </form>
</li>