body
{
    margin: 0 auto;
    width: 800px;
}

.tache
{
    font-size: 100px;
    line-height: 100px;
}

input[value="Delete"], .tache
{
    display: inline-block;
    vertical-align: bottom;
}

li
{
    list-style: none;
}